[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Sanic = "*"
numpy = "*"
scipy = "*"
pandas = "*"
Cython = "*"
quadprog = "*"
scikit-learn = "*"
Flask = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
